version: '3.8'
services:
  gateway:
    build:
      context: .
      dockerfile: go/gateway/Dockerfile
    image: news_feed_gateway:latest
    container_name: gateway-service-container
    ports:
      - "8080:8080"
    restart: unless-stopped
  user_service:
    build:
      context: .
      dockerfile: go/user/Dockerfile
    image: news_feed_user_service:latest
    container_name: user-service-container
    ports:
      - "50051:50051"
    restart: unless-stopped
    # Uncomment the following to always rebuild the image before starting
    # build:
    #   context: .
    #   dockerfile: go/gateway/Dockerfile
    #   args:
    #     - CACHEBUST=1
    # environment:
    #   - CACHEBUST=${CACHEBUST}
